#preloader {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#preloader > div {
    background: transparent url('../img/loader.gif') no-repeat 0 0;
    height: 70px;
    margin: -35px 0 0 -35px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
}