@import url("preloader.css");

#page img {
    height: auto;
    max-width: 100%;
}

#logo {
    background: #2e3192;
    padding: 20px;
}

#logo img {
    height: auto;
    max-width: 20%;
}

.main-button {
    color: #225cb3;
    display: block;
}

.back-button {
    background: rgba(0, 0, 0, 0.02);
    border-bottom: solid 2px #ddd;
    padding: 10px;
}

.back-button .btn,
.back-button .title {
    float: left;
}

.back-button span.title {
    font-size: 120%;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 3px;
}

.content {
    padding-top: 30px;
}

.ajax-link .text {
    display: inline-block;
    padding: 0 10px 20px;
}

#page-home {
    padding: 30px 0;
}

#page-about {

}