<div id="page-about">
    <div class="col-xs-12 back-button">
        <a href="#" data-page="home.html" class="ajax-link btn btn-default btn-sm">
            <i class="fa fa-chevron-left"></i>
        </a>
        <span class="title">Staff Directory</span>
    </div>

    <div class="col-xs-12 content">
        <p>TO DO:</p>

        <ol>
            <li>Fetch data from remote server</li>
            <li>Save the data to local storage (SQLite)</li>
            <li>Check for updates and save the latest update in local storage</li>
        </ol>
    </div>

</div>