<div id="page-home">

    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
        <a href="#" data-page="fiscal.html" data-callback="checkIfLoggedIn" class="ajax-link main-button">
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
            </span>
            <span class="text">Weekly Economic Update</span>
        </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
        <a href="#" data-page="1pp.html" data-callback="loadFieldsFromRemoteServer" class="ajax-link main-button">
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-folder fa-stack-1x fa-inverse"></i>
            </span>
            <span class="text">1PP Treasury Circulars</span>
        </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
        <a href="#" data-page="directory.html" class="ajax-link main-button">
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-group fa-stack-1x fa-inverse"></i>
            </span>
            <span class="text">Treasury Malaysia Directory</span>
        </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
        <a href="#" data-page="about.html" class="ajax-link main-button">
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
            </span>
            <span class="text">About Treasury Malaysia</span>
        </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 text-center">
        <a href="#" data-page="team.html" class="ajax-link main-button">
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
            </span>
            <span class="text">About The Developer</span>
        </a>
    </div>

</div>