<div id="page-login">
    <div class="col-xs-12 back-button">
        <a href="#" data-page="home.html" class="ajax-link btn btn-default btn-sm">
            <i class="fa fa-chevron-left"></i>
        </a>
        <span class="title">Login to using SatuID</span>
    </div>

    <div class="col-xs-12 content">
        <div class="panel panel-default">
            <form action="#" class="form" id="login-form">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" required placeholder="Enter your email address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" required placeholder="Enter your password">
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>

</div>